<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" routerLink="home">Books Music</a>
    <button class="navbar-toggler" 
          type="button" 
          data-toggle="collapse" 
          data-target="#navbarCollapse" 
          aria-controls="navbarCollapse" 
          aria-expanded="false" 
          aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="home" >
            <i class="fas fa-home"></i> Home
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="user/list">
            <i class="fas fa-users"></i> Usuários
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap" *ngIf="user">
              <a class="navbar-brand" routerLink="user/{{ user.id }}">
                <i class="far fa-user-circle"></i> {{ user.name }}
              </a>
          </li>
          <li class="nav-item text-nowrap">
            <a class="nav-link"  (click)="logout()" ><i class="fas fa-key"></i> Sign out</a>
          </li>
      </ul>    
    </div>
  </nav>

  <main role="main" class="container">
    <router-outlet></router-outlet>
  </main>
